    <!-- About Section -->
    <div class="container mx-auto my-12">
        <h2 class="text-3xl font-bold mb-4 text-center">About EcoTrac</h2>
        <p class="text-gray-800">EcoTrac is a cutting-edge platform designed to empower individuals and businesses to actively reduce their
            carbon footprint. Our intuitive interface and powerful analytics make environmental responsibility accessible to everyone....
            <span><a href="about"></a>Read More</span>
        </p>
    </div>