<%-include('header')-%>
<nav class="navbar p-4">
    <div class="container mx-auto flex justify-center md:justify-between items-center">
        <a href="/"><div class="text-white text-xl md:text-3xl font-bold mr-4">EcoTrac</div></a>
        <div class="space-x-2 md:space-x-4 md:text-lg">
            <a href="/" class="text-white active:underline curson-pointer">Home</a>
            <a href="team" class="text-white active:underline curson-pointer">Team</a>
            <a href="/" class="text-white active:underline curson-pointer">Logout</a>
            <h1 class="text-center bg-white">Welcome <b><%=username%>!</b></h1>
        </div>
    </div>
</nav>


<%-include('addData')-%>