    <%- include('navbar') -%>

    <!-- Hero Section -->
    <div class="bg-gradient-to-r from-gray-500 via-grat-400 to-green-600 text-white py-16">
        <div class="container mx-auto text-center">
            <h1 class="animate-spin text-8xl text-center my-2">🌏</h1>
            <h1 class="text-3xl md:text-5xl font-extrabold mb-4 leading-tight">Monitor Your Carbon Footprint<br>with EcoTrac</h1>
            <p class="text-lg">Join us in building a sustainable future. Track, reduce, and offset your carbon emissions effortlessly.</p>
            <a href="login"><button class="mt-8 px-6 py-3 bg-white text-teal-500 rounded-full font-bold
            hover:bg-teal-400 transition duration-300 ease-in-out">Get Started</button></a>
        </div>
    </div>

    <!-- Features Section -->
    <div class="bg-gray-100 py-16">
        <div class="container mx-auto text-center">
            <h2 class="text-3xl font-extrabold mb-8">Key Features</h2>
            <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-8">
                <!-- Feature 1 -->
                <div class="p-6 bg-white rounded-lg shadow-md">
                    <i class="fas fa-leaf text-teal-500 text-4xl mb-4"></i>
                    <h3 class="text-xl font-semibold mb-2">Carbon Tracking</h3>
                    <p>Effortlessly monitor and visualize your carbon emissions over time.</p>
                </div>
                <!-- Feature 2 -->
                <div class="p-6 bg-white rounded-lg shadow-md">
                    <i class="fas fa-cogs text-teal-500 text-4xl mb-4"></i>
                    <h3 class="text-xl font-semibold mb-2">Customizable Goals</h3>
                    <p>Set personalized carbon reduction goals and track your progress.</p>
                </div>
                <!-- Feature 3 -->
                <div class="p-6 bg-white rounded-lg shadow-md">
                    <i class="fas fa-globe text-teal-500 text-4xl mb-4"></i>
                    <h3 class="text-xl font-semibold mb-2">Carbon Offsetting</h3>
                    <p>Offset your emissions by contributing to eco-friendly projects worldwide.</p>
                </div>
            </div>
        </div>
    </div>
    <%- include('footer') -%>
